---
---

@import "plain";

{% if site.plainwhite.search %}
  @import "search";
{% endif %}

{%- if site.plainwhite.dark_mode -%}
  @import "toggle";
  @import "dark";
{%- endif -%}

#profile-image {
  border-radius: 100px;
}

.post { 
  text-align: justify;
}

.custom-menu {padding-bottom: 20%; font-size: 15px;}

#space-icon{
  margin-left: 7px;
}